{{#if Home}}
 <footer class="page-footer">
          <div class="size">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Кажется, вы уже на самом дне</h5>
                <p class="grey-text text-lighten-4">Ниже ничего нет...</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="size">
              @TU
                <div class="right">
                    <a class="modal-trigger blue darken-4 opacity" href="#modal1">Еще ниже</a>
                        <div id="modal1" class="modal">
                            <div class="modal-content center center-align">
                                <img width="500" height="500" src="1C.png">
                            </div>
                        <div class="modal-footer">
                            <a class="modal-close waves-effect waves-light btn-flat">Осуждаю</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
</footer>
{{else}}
<footer class="page-footer">
          <div class="size">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Кажется, вы уже на самом дне</h5>
                <p class="grey-text text-lighten-4">Ниже ничего нет...</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="size">
              @TU
                <div class="right">
                        <div id="modal1" class="modal">
                            <div class="modal-content center center-align">
                                <img width="500" height="500" src="1C.png">
                            </div>
                        <div class="modal-footer">
                            <a class="modal-close waves-effect waves-light btn-flat">Осуждаю</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
</footer>
{{/if}}
