{{> head}}
<body>
    {{> navbar}}
    <main>
        {{{body}}}
    </main>
    {{>footer}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/materialize.js"></script>
    <script src="/my_materialize_css.js"></script>
</body>
</html>
