<div class="container">
    <div class="row top-card">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/Inventory.png" max-width="50" max-height="600">
            </div>
            <div class="card-content">
            </div>
            <div class="card-action">
              <a href="/Inventory">Перейти</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/Net.png" max-width="50" max-height="600">
            </div>
            <div class="card-content">
            </div>
            <div class="card-action">
              <a href="/Net">Перейти</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="/Topology.png" max-width="50" max-height="600">
                </div>
                <div class="card-content">
                </div>
                <div class="card-action">
                    <a href="/Topology">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>