<div class="container padding-left">
    <div class="row">
        {{#each data}}
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <span class="center-align"><h5>{{this.default_get}}</h5></span>
                    <span class="white-text"><p class="name_dg">{{this.name}}</p></span>
                </div>
            </div>
        {{/each}}
    </div>
</div>